@import url('https://fonts.googleapis.com/css?family=Nunito');

body {
    background-color: #eeeef2;
}


.lbh1 {
    font-size: larger;
    font-style: italic;
    padding-top:1rem;
    font-family: 'Nunito', sans-serif;
    margin:auto;
    text-align: center;

}

@media only screen and (max-width: 475px) {
    .picture {
        display: none;

    }

    .piccol {

        display:none;
    }

    .large {
        display:none;

    }

}

@media only screen and (min-width: 476px) {

    .minview {
        display:none;

    }

}


.picture {
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    padding: 0.3rem;
}

th {
}

h1 {
    font-size: larger;
    font-family: 'Nunito', sans-serif;
    padding: 10px 0px 10px 0px;
    text-align: center;
    color:white;
    background-color: #2b2b2b;
}



.lbtab {

    padding-top: 3rem;
}

.col1{
    text-align: left;
    padding: 0.75rem;

}

.col{
    text-align: center;
    padding: 0.75rem;

}

table {
    border-collapse:separate;
    border: solid 0.1rem #33d87a;
    border-radius:10px;
    -moz-border-radius:10px;
    font-family: 'Nunito', sans-serif;
    margin:auto;
    text-align: center;
    background-color: white;
}

td, th {
    border-left:solid #ccc 1px;
    border-top:solid #ccc 1px;
    padding: 5px 25px 5px 25px;
}

th {

    border-top: none;
    padding: 1rem;
    text-align: center;

}

td:first-child, th:first-child {
    border-left: none;
}